<!DOCTYPE html>
<html lang="en">
<head>
    <title>Items in order</title>
</head>
<body>
{% for item in items %}
<h1>{{ item.name }}</h1>
<p>{{ item.description }}</p>
{% endfor %}
<h1>Цена заказа: {{total_price}}</h1>
<button onclick="buy()">Купить</button>
<script src="https://js.stripe.com/v3/"></script>
<script>
var stripe = Stripe("{{ stripe_key }}");

        function buy() {
            fetch('/order/{{ order.id }}', {method: 'GET'})
        .then(response => {return response.json();})
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }));
        }

</script>

</body>
</html>